* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1200px;
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 14px;
}

.product {
  border: solid 4px black;
  width: 70%;
  margin: 50px auto;
  position: relative;
}

img {
  float: left;
  width: 30%;
}

.centre-container {
  width: 25%;
  float: left;
  margin-left: 40px;
  margin-top: 30px;
}

.right-container {
  float: right;
  width: 25%;
  margin-right: 40px;
  margin-top: 30px;
}

/* Product */
.product-title {
  text-transform: uppercase;
  background-color: #f7f7f7;
  text-align: center;
  font-size: 22px;
  margin: 0;
  padding: 15px 0;
}

/* Product Information */
.price {
  font-size: 24px;
  display: inline-block;
}

.shipping {
  text-transform: uppercase;
  color: #777;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 30px;
}
.more-info:link,
.more-info:visited {
  color: #000;
  margin-top: 10px;
  margin-bottom: 25px;
  display: block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* Product Details */

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style-type: square;
  margin-left: 20px;
  margin-bottom: 10px;
}

.details-list li {
  margin-bottom: 10px;
}

/* Button */

.add-cart {
  border: 0;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;
  padding: 15px 0;
  border-top: 4px black solid;
}

.add-cart:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

.product::before {
  content: "Sale";
  display: inline-block;
  background-color: #ec2f2f;
  padding: 7px 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2.5px;
  font-weight: bold;
  position: absolute;
  left: -35px;
  top: -17px;
  border-radius: 2px;
}

.squares-container {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.square {
  height: 20px;
  width: 20px;
}

.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.orangered {
  background-color: orangered;
}
.yellow {
  background-color: yellow;
}
.limegreen {
  background-color: limegreen;
}
.brown {
  background-color: brown;
}
